<h1>Animals</h1>
<ul>
  <%@animals.each do |animal| %>
  <li>
    <%= link_to animal.name, animal_path(animal.id) %><br />
    <%= link_to "Edit", edit_animal_path(animal.id) %>
    <%= link_to "Delete", animal_path(animal.id), method: :delete %>
  </li>
  <%end%>
</ul>
